@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.support-text-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100px;
    flex-shrink: 0;
}

.support-text-container h3{
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.support-text-container p{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 13px;
    padding-left: 4px;
}

.support-text-container p a{
    text-decoration: none;
    color: #29435E;
    font-weight: 300;
    padding-inline: 4px;
}

/* ------------------------- */
/*      Responsividade       */
/* ------------------------- */

@media screen and (min-height: 700px) and (min-width: 760px) {
    .support-text-container h3{
        font-size: 30px;
    }

    .support-text-container p{
        font-size: 16px;
    }
}