.input-group {
    height: 110px;
  }
  
  input-error input {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0;
    transition: border-color 0.3s ease;
  }
  
  
  input::placeholder {
    color: #a0a0a0;
    opacity: 1; 
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  
  .input-error {
    border-bottom: 2px solid #ff4444; 
  }

  label {
    display: block;
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  
  .error-message {
    color: #ff4444;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  .error-container{
    padding-top: 0.3rem;
  }

/* ------------------------- */
/*      Responsividade       */
/* ------------------------- */

/* Desktop */
@media screen {
    
}

/* Tablets */
@media screen {
    
}


/* Celulares */
@media screen and (max-width: 400px) {
    input{
      width: 100%;
    }
}