.error-page-container {
    min-height: 400px;
    min-width: 340px; /* ! */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-inline: 25px;
}

.empty-icon-container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.icon {
    width: 200px;
    height: auto;
}


.error-status {
    position: absolute;
    top: 50%;
    left: 49.1%;
    margin: -25px 0 0 -25px;
    color: black;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 40px;
}

/* ////////////////////////// */
/* ----- Responsividade ----- */
/* ////////////////////////// */

/* Meio termo - nem tablet, nem desktop grande */
@media screen and (min-width: 870px) and (max-width: 1280px) {
    .error-status{
        left: 48.5%;
    }
}


/* Tablet */
@media screen and (min-width: 540px) and (max-width: 869px) {
    .error-status{
        left: 48%;
    }
}


/* Celulares */
@media screen and (max-width: 539px) {    
    .error-status{
        left: 46%;
    }
}

/* Tratamento do min-width */
@media screen and (max-width: 340px) {
    .error-page-container{
        position: sticky;
        overflow-x: scroll;
    }
}