.error-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-inline: 25px;
}

/* Não tocar. O flex1 centraliza o icon independente da largura da tela. */
.empty-icon-container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.icon {
    width: 200px;
    height: auto;
}


/* O erro está aqui. Tenho que achar uma forma de centralizar o código de erro junto do Icon. */
/* 1 -  */
/* 2 -  */
.error-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* Vou diminuir a fonte num primeiro momento. (valor antigo = 40px) */
h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 38px;
}