.profile-container {
    height: 100vh;
    padding-inline: 25px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    padding-inline-start: 0;
}

.menu-icon:hover {
    transform: scale(1.05);
    transition: all ease 0.1s;
    cursor: pointer;
}

.side-panel {
    background-color: #4A4A4A;
    height: calc(100vh - 80px); /* Ajuste para altura do header */
    width: 200px;
    border-radius: 0 10px 0 0;
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%); /* Posição inicial escondida */
    display: flex;
    flex-direction: column;
    color: white;
    padding-inline-start: 15px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.side-panel.open {
    transform: translateX(0); /* Posição visível */
}

.item {
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: transform 0.2s ease;
}

.item:hover {
    transform: translateX(5px);
}

.item p {
    font-size: 18px;
}