.profile-container{
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    padding-inline: 15px;
    background-color: red;
}

.menu-icon{
    cursor: pointer;   
}

.side-panel{
    background-color: #D9D9D9;
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 80px;
    left: 0;
}