.profile-container{
    height: 100vh;
    padding-inline: 25px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    padding-inline-start: 0;
}

.menu-icon:hover {
    transform: scale(1.05);
    transition: all ease 0.1s;
    cursor: pointer;
}

.side-panel{
    background-color: #4A4A4A;
    height: 100vh;
    width: 200px;
    border-radius: 0 10px 0 0;
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    color: white;
    padding-inline-start: 15px;
}

.item{
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.item p{
    font-size: 18px;
}