  body{
    width: 100vw;
  }
  
  .container-aviso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 2rem;
    gap: 1rem;
  }
  
 .title-kubo {
    font-size: 4rem;
    
  }
  
  .descricao-kubo {
    font-size: 1.2rem;
    line-height: 1.2;
}
 
.container-black {
  position: relative;
  top: 130px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 8rem;
  width: 100%;
}

  
  .text-container {
    font-size: 1.3rem;
  }
  
  .color-1000 {
    color: #0B85FF;
    margin-left: 0.3rem;
  }
  
  .novidades {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

  }
  
  .img-novidades {
    width: 100vw; 
    height: 50vh; 
    filter: brightness(50%);
    object-fit: cover; 
    position: relative;
    top: 130px;
    display: block;
  }
  
  
  .conteudo-novidades {
    position: absolute;
    inset: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    padding-top: 59%;
    gap: 1rem;
    color: white;
  }
  
  .novidadeh1 {
    font-size: 2rem;
    font-weight: 200;
  }
  
  .novidade-textos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .novidade-textos p{
    height: 0%;
    font-size: 1.2em;
  }
  
  .btn-flashcard {
    padding: 12px 24px;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    font-weight: 600;
    width: fit-content;
    margin-left:1.5em;
  }
  
  .btn-flashcard:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .galeria {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 50px auto;
  }
  
  .img {
    position: absolute;
    border-radius: 15px;
  }
    .ImgFaixa {
    top: -110px;
    left: 55%;
    width: 280px;
    height: 200px;
    z-index: 1;
  }
 
  .ImgOnda{
    top: 39px;
    left: 10%;
    width: 280px;
    height: 200px;
    z-index: 2;
  }
  
  .ImgPredio {
    top: 125px;
    left: 39%;
    width: 300px;
    height: 220px;
    z-index: 1;
  }


  @media (min-width:1024px){
    .ImgFaixa {
      top: -150%;
      right: 600px;
      width: 100%;
      height: 400px;
      object-fit: fill;
      z-index: 1;
    }
  
    .ImgOnda{
      top: -200px;
      left: 120%;
      width: 105%;
      height: 400px;
      object-fit: fill;
      z-index: 2;
    }
    
    .ImgPredio {
      top: -20px;
      right: -280px;
      width: 100%;
      height: 400px;
      object-fit: fill;
      z-index: 1;
    } 
    .img-novidades{
      height: 92vh;
      object-fit: cover; 
      display: block;
    }
    .novidadeh1{
      position: relative;
      top: 100%;
    }
  }
  
@media (max-width: 430px) {
  .nav-links {
    display: none;
    gap: 1rem; 
  }
}

@media (min-width: 1023px) {
  .container-white {
    padding-inline: 3%;
  }

  .descricao-kubo {
    font-size: 1.7rem;
    line-height: 1.2;
  }

  .title-kubo {
    font-size: 4rem;
  }
}

@media (max-width: 1022px) {
  .descricao-kubo {
    font-size: 1.7rem;
    padding-inline: 3%;
    line-height: 1.2;
  }

  .title-kubo {
    font-size: 4rem;
    line-height: 1.2;
    padding-inline: 3%;
  }

  .container-aviso {
    padding-inline: 3%;
  }
}
