.container {
    min-height: 100vh;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    /* Não tirar */
}


/* ------------------------- */
/*      Responsividade       */
/* ------------------------- */

/* Desktop */
@media screen {
    
}

/* Tablets */
@media screen {
    
}


/* Celulares */
@media screen and (max-width: 400px) {
    .container{
        position: sticky;
        overflow-x: scroll;
    }
    /* YEEEEEEEEEEEEEEEESSSSSSSS */
}

/* Celulares na horizontal */
@media screen and (max-width: 930px) and (max-height: 440px) {
    .container{
       min-width: 100vw;
    }
}