@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}